.cartitem {
  width: 100%;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
  gap: 12px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  place-items: center;
  margin-bottom: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cartitem:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.cartItem__name {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.cartItem__name:hover {
  color: #dd219e;
}

.cartItem__select {
  padding: 12px 20px;
  border-radius: 6px;
  background: #f4f4f4;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.cartItem__select:hover {
  background: #e0e0e0;
  transform: scale(1.05);
}

.cartItem__deleteBtn {
  padding: 12px 20px;
  color: red;
  background: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cartItem__deleteBtn:hover {
  background: #171717;
  color: #fff;
  transform: scale(1.2);
}

@media (max-width: 700px) {
  .cartitem {
    padding: 1rem;
    gap: 8px;
  }

  .cartItem__name {
    font-size: 0.8rem;
  }

  .cartItem__select,
  .cartItem__deleteBtn {
    padding: 8px 12px;
  }

  .cartitem__price {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .cartitem {
    padding: 0.8rem;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    gap: 6px;
  }

  .cartItem__name {
    font-size: 0.7rem;
  }

  .cartItem__select,
  .cartItem__deleteBtn {
    padding: 6px 10px;
  }

  .cartitem__price {
    font-size: 0.7rem;
  }
}
